.headerRoot {
  margin-top: 40px;
}

.headerImgRoot {
  background: #000;
}

.headerImg {
  width: 100%;
}
.headerMetaRoot {
  margin: 0 30px !important;
  color: #fff;
}

.headerTitle {
  font-family: "Anton", sans-serif !important;
  letter-spacing: 2px;
  font-size: 40px;
  margin: 10px 0px;
  font-weight: 500;
}

.headerMeta {
  margin: 40px 0;
  display: flex;
  align-items: center;
}
.headerMetaDesc {
  font-size: 30px;
  margin-left: 20px;
  font-weight: 600;
}
.eventIntroRoot {
  margin-top: 50px;
  background: #171717;
  padding: 10px;
  color: #fff;
}

.eventIntroHeaderRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.eventIntroHeader {
  font-family: "Anton", sans-serif !important;
  letter-spacing: 2px;
  font-size: 40px;
  margin: 10px 0px;
  font-weight: 500;
}

.registerButton {
  font-family: "Nunito", sans-serif !important;
  border-color: #3384e0 !important;
  border-width: 2.5px !important;
  border-radius: 0px !important;
  color: #000 !important;
  background: #3384e0 !important;
  font-weight: 800 !important;
  width: 200px;
  height: 45px;
}

.registerButton:hover {
  background: #3384e0 !important;
  box-shadow: 0 0 3px #3384e0;
}

.registerButton::before {
  top: -3px;
  left: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #000 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  position: absolute;
}
.registerButton::after {
  bottom: -3px;
  right: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #000 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  transform: rotate(180deg);
  position: absolute;
}

.problemButton {
  font-family: "Nunito", sans-serif !important;
  border-color: #3384e0 !important;
  border-width: 2.5px !important;
  border-radius: 0px !important;
  color: #000 !important;
  background: #3384e0 !important;
  font-weight: 800 !important;
  width: 200px;
  height: 45px;
}

.problemButton:hover {
  background: #3384e0 !important;
  box-shadow: 0 0 3px #3384e0;
}

.problemButton::before {
  top: -3px;
  left: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #2effcc transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  position: absolute;
}
.problemButton::after {
  bottom: -3px;
  right: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #2effcc transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  transform: rotate(180deg);
  position: absolute;
}

.registerButton2 {
  font-family: "Nunito", sans-serif !important;
  border-color: #2effcc !important;
  border-width: 2.5px !important;
  border-radius: 0px !important;
  color: #000 !important;
  background: #2effcc !important;
  font-weight: 800 !important;
  width: 200px;
  height: 40px;
  margin: 25px 25px 0 0 !important;
}

.registerButton2:hover {
  background: #2effcc !important;
  box-shadow: 0 0 3px #2effcc;
}

.registerButton2::before {
  top: -3px;
  left: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #191919 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  position: absolute;
}
.registerButton2::after {
  bottom: -3px;
  right: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #191919 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  transform: rotate(180deg);
  position: absolute;
}

.eventIntro {
  font-family: "Nunito", sans-serif !important;
  text-align: justify;
  font-weight: 600 !important;
  padding-bottom: 60px;
  margin: 10px 0 0 0;
}

.problemRoot {
  margin-bottom: 50px;
}

.problem {
  padding: 20px 60px;
  background: #2effcc;
}

.headerTitleProblem {
  font-family: "Anton", sans-serif !important;
  letter-spacing: 2px;
  font-size: 40px;
  margin: 5px 0px;
  font-weight: 500;
}

.contact {
  padding: 20px 60px;
  background: #9345ff;
}

.contactText {
  font-size: 20px;
  font-weight: 600;
  font-family: "Nunito", sans-serif !important;
  margin: 0;
}

.marginBottom {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .problem {
    padding: 20px 20px;
    background: #2effcc;
  }
  .contact {
    padding: 20px 20px;
    background: #9345ff;
  }
  .problemCont {
    margin: 0 !important;
    padding: 0 !important;
  }
  .registerButton {
    width: 250px;
  }
}
