/*Footer*/

.footerDiv {
  background: #9345ff;
  width: 100%;
  position: relative;
  color: #000;
}

.footerDiv::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: url("/assets/footer.svg ") repeat-x top;
  height: 39px;
}

.footerCont {
  min-height: 80px;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerCopy {
  font-weight: 700;
  font-family: "Nunito", sans-serif !important;
  font-size: 16px;
}

.footerSocial {
  margin: 10px 0;
}

.iconButton {
  margin: 0px 8px 0px 8px !important;
  background: #000000 !important;
  transition: 0.2s !important;
}

.iconButton:hover {
  transform: scale(1.2);
}

.iconYoutube {
  color: #ffffff;
}
/* .iconYoutube:hover {
  color: #ff0000;
} */
.iconFacebook {
  color: #ffffff;
}
/* .iconFacebook:hover {
  color: #3b5998;
} */
.iconTwitter {
  color: #ffffff;
}
/* .iconTwitter:hover {
  color: #00acee;
} */
.iconLinkedIn {
  color: #ffffff;
}
/* .iconLinkedIn:hover {
  color: #0e76a8;
} */
.iconInsta {
  color: #ffffff;
}
/* .iconInsta:hover {
  color: #c32aa3;
} */

@media only screen and (max-width: 600px) {
  .footerSocial {
    text-align: center !important;
    width: 100% !important;
  }
  .footerSocialDiv {
    margin-bottom: 20px;
  }
  .iconButton {
    margin: 0px 4px 0px 4px !important;
    background: #000000 !important;
    transition: 0.2s !important;
  }
  .footerCont {
    padding: 0 !important;
  }
}
