/*Footer*/

.footerDiv {
  background: #3384e0;
  width: 100%;
  position: relative;
}

.footerDiv::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: url("/assets/footer.svg ") repeat-x top;
  height: 39px;
}

.footerCont {
  height: 250px;
  margin-top: 4rem;
}

.footerGridCont {
  height: 100%;
}

.footerLogoGrid {
  height: 100px;
}

.rootFooterGrid {
  background: #1e1e1e;
  padding: 15px;
  color: #fff;
}
.logoText {
  width: 40vh;
}

.footerSocialGrid {
  text-align: -webkit-center !important;
}

.footerSocialText {
  font-family: Nunito;
  font-size: 25px;
  margin: 10px;
}

.iconButton {
  padding: 10px;
  margin: 0px 8px 0px 8px !important;
  background: #000000 !important;
  transition: 0.3s !important;
}
.iconButton:hover {
  transform: scale(1.2);
}
.iconYoutube {
  color: #ffffff;
}
/* .iconYoutube:hover {
  color: #ff0000;
} */
.iconFacebook {
  color: #ffffff;
}
/* .iconFacebook:hover {
  color: #3b5998;
} */
.iconTwitter {
  color: #ffffff;
}
/* .iconTwitter:hover {
  color: #00acee;
} */
.iconLinkedIn {
  color: #ffffff;
}
/* .iconLinkedIn:hover {
  color: #0e76a8;
} */
.iconInsta {
  color: #ffffff;
}
/* .iconInsta:hover {
  color: #c32aa3;
} */

@media only screen and (max-width: 600px) {
  .footerSocialGrid {
    margin-top: 20px !important;
  }
}
