@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

#card-hover:hover > #card-img {
  height: 0px !important;
  transition: 0.4s ease-in-out;
}

#tsparticles {
  height: 100%;
}

.MuiDrawer-paper {
  width: 20% !important;
  background: #e5e5e5 !important;
}

.MuiListItemText-primary {
  font-family: "Nunito", sans-serif !important;
  font-weight: 800 !important;
  font-size: 18px !important;
}

.MuiFormControlLabel-label {
  font-family: "Nunito", sans-serif !important;
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.glitch {
  position: relative;
  color: white;
  font-size: 32px;
  letter-spacing: 0.5em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
  text-align: center;
  text-transform: uppercase;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(98px, 9999px, 58px, 0);
    transform: skew(0.12deg);
  }
  5% {
    clip: rect(58px, 9999px, 57px, 0);
    transform: skew(0.24deg);
  }
  10% {
    clip: rect(27px, 9999px, 27px, 0);
    transform: skew(0.49deg);
  }
  15% {
    clip: rect(76px, 9999px, 36px, 0);
    transform: skew(0.86deg);
  }
  20% {
    clip: rect(80px, 9999px, 13px, 0);
    transform: skew(0.98deg);
  }
  25% {
    clip: rect(45px, 9999px, 30px, 0);
    transform: skew(0.39deg);
  }
  30% {
    clip: rect(96px, 9999px, 3px, 0);
    transform: skew(0.46deg);
  }
  35% {
    clip: rect(76px, 9999px, 78px, 0);
    transform: skew(0.43deg);
  }
  40% {
    clip: rect(41px, 9999px, 40px, 0);
    transform: skew(0.39deg);
  }
  45% {
    clip: rect(76px, 9999px, 78px, 0);
    transform: skew(0.46deg);
  }
  50% {
    clip: rect(48px, 9999px, 28px, 0);
    transform: skew(0.35deg);
  }
  55% {
    clip: rect(9px, 9999px, 24px, 0);
    transform: skew(0.01deg);
  }
  60% {
    clip: rect(85px, 9999px, 85px, 0);
    transform: skew(0.3deg);
  }
  65% {
    clip: rect(7px, 9999px, 79px, 0);
    transform: skew(0.48deg);
  }
  70% {
    clip: rect(21px, 9999px, 20px, 0);
    transform: skew(0.39deg);
  }
  75% {
    clip: rect(83px, 9999px, 66px, 0);
    transform: skew(0.91deg);
  }
  80% {
    clip: rect(84px, 9999px, 18px, 0);
    transform: skew(0.59deg);
  }
  85% {
    clip: rect(12px, 9999px, 60px, 0);
    transform: skew(0.6deg);
  }
  90% {
    clip: rect(59px, 9999px, 47px, 0);
    transform: skew(0.36deg);
  }
  95% {
    clip: rect(43px, 9999px, 86px, 0);
    transform: skew(0.9deg);
  }
  100% {
    clip: rect(17px, 9999px, 28px, 0);
    transform: skew(0.37deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(54px, 9999px, 59px, 0);
    transform: skew(0.02deg);
  }
  5% {
    clip: rect(6px, 9999px, 77px, 0);
    transform: skew(0.67deg);
  }
  10% {
    clip: rect(73px, 9999px, 41px, 0);
    transform: skew(0.68deg);
  }
  15% {
    clip: rect(63px, 9999px, 71px, 0);
    transform: skew(0.93deg);
  }
  20% {
    clip: rect(95px, 9999px, 4px, 0);
    transform: skew(0.63deg);
  }
  25% {
    clip: rect(13px, 9999px, 5px, 0);
    transform: skew(0.05deg);
  }
  30% {
    clip: rect(35px, 9999px, 54px, 0);
    transform: skew(0.18deg);
  }
  35% {
    clip: rect(52px, 9999px, 24px, 0);
    transform: skew(0.67deg);
  }
  40% {
    clip: rect(38px, 9999px, 66px, 0);
    transform: skew(0.05deg);
  }
  45% {
    clip: rect(1px, 9999px, 15px, 0);
    transform: skew(0.15deg);
  }
  50% {
    clip: rect(25px, 9999px, 83px, 0);
    transform: skew(0.92deg);
  }
  55% {
    clip: rect(88px, 9999px, 97px, 0);
    transform: skew(0.92deg);
  }
  60% {
    clip: rect(14px, 9999px, 22px, 0);
    transform: skew(0.86deg);
  }
  65% {
    clip: rect(84px, 9999px, 74px, 0);
    transform: skew(0.49deg);
  }
  70% {
    clip: rect(34px, 9999px, 34px, 0);
    transform: skew(0.79deg);
  }
  75% {
    clip: rect(48px, 9999px, 69px, 0);
    transform: skew(0.14deg);
  }
  80% {
    clip: rect(75px, 9999px, 69px, 0);
    transform: skew(0.47deg);
  }
  85% {
    clip: rect(47px, 9999px, 90px, 0);
    transform: skew(0.27deg);
  }
  90% {
    clip: rect(50px, 9999px, 1px, 0);
    transform: skew(0.14deg);
  }
  95% {
    clip: rect(17px, 9999px, 85px, 0);
    transform: skew(0.31deg);
  }
  100% {
    clip: rect(91px, 9999px, 9px, 0);
    transform: skew(0.27deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(1deg);
  }
  20% {
    transform: skew(5deg);
  }
  30% {
    transform: skew(-2deg);
  }
  40% {
    transform: skew(-3deg);
  }
  50% {
    transform: skew(-3deg);
  }
  60% {
    transform: skew(-2deg);
  }
  70% {
    transform: skew(1deg);
  }
  80% {
    transform: skew(5deg);
  }
  90% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(-3deg);
  }
}

@media only screen and (max-width: 900px) {
  .MuiDrawer-paper {
    width: 35% !important;
  }
}

@media only screen and (max-width: 600px) {
  .MuiDrawer-paper {
    width: 60% !important;
  }
}
