.root {
  flex-grow: 1;
}

.featureUpcomingCont {
  margin: 4em 0em;
}

.featureUpcomingDiv {
  border-style: solid;
  border-width: 4px;
  border-color: #02d7f2;
  width: 50%;
  position: relative;
}

.featureUpcomingDivTop {
  right: -16px;
  top: -18px;
  width: 27px;
  height: 27px;
  border-bottom: 4px solid #02d7f2;
  background-color: #030303;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  border-radius: 3px;
}
.featureUpcomingDivBottom {
  left: -16px;
  bottom: -18px;
  width: 27px;
  height: 27px;
  border-bottom: 4px solid #02d7f2;
  background-color: #030303;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  position: absolute;
  border-radius: 3px;
}

.featureUpcoming {
  font-family: "Anton";
  letter-spacing: 2px;
  color: #02d7f2;
  text-align: center;
  font-size: 35px;
  margin: 15px;
}

.previousGLSGridRoot {
  margin: 3em 0em;
}

.previousGLSGridDiv {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: 1fr 1fr 1fr;
}

.previousGLSGrid {
  background: #02d7f2;
  height: 300px;
  position: relative;
}

.cardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.QEIcon {
  width: 65%;
}

.previousCardTitle {
  font-family: "Nunito", sans-serif;
  bottom: 0px;
  left: 30px;
  position: absolute;
  color: #030303;
  z-index: 100;
  font-size: 25px;
}

.previousGLSGrid::before {
  top: -1px;
  left: -1px;
  content: "";
  height: 0;
  width: 0;
  border-color: #030303 transparent transparent;
  border-style: solid;
  border-width: 18px 18px 0 0;
  position: absolute;
}

/* .previousGLSGrid::after {
  bottom: 0px;
  right: 0px;
  content: "";
  height: 0;
  width: 0;
  border-color: #040114 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  transform: rotate(180deg);
  position: absolute;
} */

.previousGLSGrid::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  background: url("/assets/razor-bottom-blue-d44fb6b7.svg") repeat-x bottom;
  height: 23px;
}

.previousGLSGrid:hover {
  transform: scale(1.03);
  transition: 0.3ms ease-in-out;
  cursor: pointer;
}

.viewMore {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.viewMoreButton {
  color: #02d7f2 !important;
  font-family: "Nunito", sans-serif !important;
  padding: 10px 30% !important;
  border: 3px solid #02d7f2 !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  border-radius: 0px !important;
}

.viewMoreHide {
  display: none;
}

.viewMoreDiv {
  display: none;
}

@media only screen and (max-width: 600px) {
  .GLSLogoFeatureDiv {
    text-align: center;
  }
  .GLSLogoFeature {
    width: 95% !important;
  }
  .previousGLSGridDiv {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .featureUpcomingDiv {
    width: 80%;
  }
  .featureUpcoming {
    font-size: 24px;
  }
  .featureUpcomingCont {
    margin: 2em 0em;
  }
}
