.GLSplaylist {
  padding: 10px;
  position: relative;
}

.GLSplaylistCover {
  width: 100%;
  overflow: hidden;
}

.GLSplaylistCover:hover .GLSplaylistPlayIcon {
  display: block !important;
}

.GLSplaylistImg {
  width: 100%;
  transition: transform 0.5s ease;
  height: 13rem;
  object-fit: cover;
  object-position: top;
  vertical-align: middle;
  border-style: none;
}

.GLSplaylistCover:hover .GLSplaylistImg {
  transform: scale(1.1);
  filter: grayscale(30%) blur(1px);
}

.GLSplaylistPlayIcon {
  color: #ff0000 !important;
  position: absolute !important;
  top: 32% !important;
  left: 38% !important;
  font-size: 50px !important;
  z-index: 100 !important;
  display: none !important;
}

.GLSplaylistName {
  color: #e5e5e5;
  margin-top: 5px;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif !important;
}
