.cardroot {
  width: 280px;
  background: #fcee0a !important;
  border-radius: 0px !important;
  color: #000000 !important;
  height: 420px;
  position: relative;
  display: inline-block;
}
.cardIMG {
  height: 270px;
  transition: 0.5s;
}
.cardButtonsArea {
  position: absolute;
  bottom: 5px;
}
.speakerName {
  font-family: Anton;
  letter-spacing: 0.9px;
}
.cardDec {
  margin: 0px;
  padding-bottom: 25px;
}
.cardButtons {
  font-family: Nunito !important;
  border-color: #3384e0 !important;
  border-width: 2.5px !important;
  border-radius: 0px !important;
  color: #000 !important;
  background: #3384e0 !important;
  font-weight: 700 !important;
  width: 263px;
}

.cardButtons::before {
  top: -3px;
  left: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #fcee0a transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  position: absolute;
}
.cardButtons::after {
  bottom: -3px;
  right: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #fcee0a transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  transform: rotate(180deg);
  position: absolute;
}

.glsDesc {
  text-align: justify;
  margin-right: 12px;
}

@media only screen and (max-width: 600px) {
}
