.logoCont {
  background-color: #9345ff !important;
}

.rootNav {
  position: relative;
}

.logoCont::after {
  content: "";
  bottom: -23px;
  height: 23px;
  width: 100%;
  background: url("/assets/razor-bottom-blueDark-d44fb6b7.svg") repeat-x bottom;
  position: absolute;
}

.logoContIcon {
  font-size: 30px !important;
  color: #000000;
}
.logoContIcon:hover {
  transform: scale(1.2);
  transition: 0.3s;
  color: #000000;
}

.logo {
  width: 180px;
}

.logoEvent {
  width: 50px;
}

.menuRoot {
  margin-left: auto;
}
