.navAppBar {
  background: #030303 !important;
}

.rootNav {
  position: relative;
}

.logo {
  height: 35px !important;
  margin-right: auto;
}

.player {
  height: 100%;
}

.playerSafari {
  height: 300px;
}

.hero {
  margin-top: 50px;
  width: 100%;
}

.headerParticles {
  height: 80vh;
}

.aboutRootGrid {
  height: 700px;
  margin-top: 20px;
  position: relative;
}

.aboutRootGrid::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: url("/assets/footer.svg ") repeat-x top;
  height: 39px;
}

.aboutRootGrid {
  height: 100%;
}

.aboutTechno {
  background-color: #171717;
  text-align: center;
  line-height: 25px;
  font-family: "Nunito", sans-serif;
  color: #e5e5e5;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.aboutLeft {
  background-color: #2effcc;
  display: flex;
  align-items: center;
}

.aboutRight {
  color: #030303;
  background-color: #9345ff;
  display: flex;
  align-items: center;
}

.infoFeature {
  margin-top: 25px;
}

.infoFeatureItem {
  text-align: center;
  border-bottom: 0.5px solid #e5e5e5;
}

.infoFeatureIcon {
  color: #e5e5e5;
  font-size: 75px !important;
}

.infoFeatureDetail {
  color: #e5e5e5;
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 700 !important;
  font-family: "Nunito", sans-serif;
}

.infoCollegeRoot {
  margin: 10px 4%;
  text-align: center;
}

.infoTitle {
  font-size: 32px;
  line-height: 40px;
  font-weight: 300 !important;
  letter-spacing: 1px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

.logoInfo {
  width: 350px !important;
}

.infoSubTitle {
  font-size: 28px;
  font-weight: 700 !important;
  font-family: "Nunito", sans-serif;
}

.infoDesc {
  font-size: 16px;
  font-weight: 400 !important;
  font-family: "Nunito", sans-serif;
}

.infoGridItem {
  padding: 20px;
}

.rootPreview {
  background: #030303;
  padding: 50px 0px;
}

.previewTitleRoot {
  padding: 10px 0px;
}

.previewSubTitle {
  color: #e5e5e5;
  text-align: center;
  font-size: 16px;
  font-weight: 400 !important;
  font-family: "Nunito", sans-serif;
}

.previewTitle {
  font-size: 50px;
  color: #e5e5e5;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 300;
}

.previewCardRoot {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.previewCard {
  height: 250px;
  background: #02d7f2 !important;
  border-radius: 0px;
  text-decoration: none;
  position: relative;
}

.previewCard::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  background: url("/assets/razor-bottom-blue-d44fb6b7.svg") repeat-x bottom;
  height: 23px;
}

.previewCard:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.previewCard::before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.2);
}
.previewCardLogoDiv {
  margin-top: 50px;
  height: 110px;
  text-align: center;
}
.previewCardLogo {
  width: 20rem;
}

.previewCardLogoEvent {
  width: 7rem;
}

.eventIcon {
  width: 20rem;
}

.previewCardTitle {
  font-family: "Nunito", sans-serif;
  /* bottom: 0px;
  left: 20px;
  position: absolute; */
  text-align: center;
  color: #030303;
  z-index: 100;
}

.previousTechRoot {
  height: 600px;
}

.previousTechTitle {
  font-size: 50px;
  color: #e5e5e5;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 300;
}

.aboutUsLabel {
  font-size: 50px;
  color: #e5e5e5;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 300;
}

.aboutUsRoot {
  color: #e5e5e5;
}

.aboutUsLI {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  text-align: justify;
}

.aboutUsGrid {
  padding: 20px;
}

/*Secdule CSS*/

.scheduleRoot {
  color: #fff;
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.schedule {
  display: flex;
  align-items: center;
  border-bottom: 2px rgb(58, 73, 97) solid;
}

.scheduleDate {
  border-right: 2px rgb(58, 73, 97) solid;
  margin: 15px 0 15px 0px;
  padding-right: 15px;
}

.scheduleEvent {
  margin: 15px auto 15px 15px;
}

@media (max-width: 768px) {
  .previewCardRoot {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .aboutRootSection {
    height: 165vh;
    margin-top: 20px;
  }
  .scheduleRoot {
    font-size: 1.4rem;
  }
  .scheduleDate {
    margin: 10px 0 10px 0px;
    padding-right: 10px;
  }
  .scheduleEvent {
    margin: 10px auto 10px 10px;
  }
}

@media (max-width: 576px) {
  .menuDesktop {
    display: none !important;
  }
  .previewCardRoot {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .previewCard {
    margin-top: 20px;
  }
  .infoFeatureIcon {
    color: #e5e5e5;
    font-size: 55px !important;
  }
  .infoTitle {
    font-size: 32px;
  }
  .infoDesc {
    text-align: justify;
  }
  .infoFeatureDetail {
    font-size: 15px;
    margin: 10px 0px;
    font-weight: 800 !important;
  }
  .aboutTechno {
    padding-top: 25px;
  }
  .aboutUsCont {
    padding: 0 !important;
    margin: 0 !important;
  }
  .previousTechRoot {
    height: 400px;
  }
  .logoInfo {
    width: 250px !important;
  }
  .previewCardLogo {
    width: 250px !important;
  }
  .scheduleRoot {
    font-size: 0.9rem;
  }
  .scheduleDate {
    margin: 10px 0 10px 0px;
    padding-right: 10px;
  }
  .scheduleEvent {
    margin: 10px auto 10px 10px;
  }
}

@media (max-width: 320px) {
  .scheduleRoot {
    font-size: 0.7rem;
  }
  .scheduleDate {
    margin: 10px 0 10px 0px;
    padding-right: 10px;
  }
  .scheduleEvent {
    margin: 10px auto 10px 10px;
  }
}
