.navAppBar {
  background: #3384e0 !important;
  position: relative;
}

.rootNav {
  position: relative;
}

.rootNav::after {
  content: "";
  bottom: -23px;
  height: 23px;
  width: 100%;
  background: url("/assets/razor-bottom-yellow-d44fb6b7.svg") repeat-x bottom;
  position: absolute;
}

.menuDesktop {
  font-family: "Nunito", sans-serif;
  display: flex;
  color: #000000;
  font-size: 18px;
  align-items: center;
}

.menuDesktopItem {
  margin: 0px 15px !important;
  text-decoration: none;
  color: #252525;
  font-weight: 800 !important;
}

.menuDesktopItem:hover {
  color: #000000;
}

.cardButtons {
  font-family: "Nunito", sans-serif !important;
  border-color: #fcee0a !important;
  border-width: 2.5px !important;
  border-radius: 0px !important;
  color: #000 !important;
  background: #fcee0a !important;
  font-weight: 800 !important;
  width: 120px;
  margin-left: 10px !important;
}

.cardButtons:hover {
  background: #fcee0a !important;
  box-shadow: 0 0 3px #fcee0a;
}

.cardButtons::before {
  top: -3px;
  left: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #3384e0 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  position: absolute;
}
.cardButtons::after {
  bottom: -3px;
  right: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #3384e0 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  transform: rotate(180deg);
  position: absolute;
}

.headerParticles {
  height: 90vh;
}

.menuButtonIcon {
  width: 10px;
  color: #000000 !important;
}

.infoRoot {
  background: #3384e0;
  color: #000;
  position: relative;
}

.infoRoot::after {
  content: "";
  bottom: -23px;
  height: 23px;
  width: 100%;
  background: url("/assets/razor-bottom-yellow-d44fb6b7.svg") repeat-x bottom;
  position: absolute;
  text-align: left !important;
}

.infoRoot::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: url("/assets/footer.svg ") repeat-x top;
  height: 39px;
}

.infoRootCont {
  text-align: center;
  line-height: 25px;
  padding: 50px 0px;
  font-family: "Nunito", sans-serif;
}
.infoCollegeRoot {
  margin-bottom: 30px;
}
.infoTitle {
  font-size: 50px;
  font-weight: 800 !important;
}

.infoGridItem {
  padding: 20px;
}

.infoFeature {
  margin-top: 25px;
}

.infoFeatureIcon {
  color: #000;
  font-size: 75px !important;
}

.infoFeatureDetail {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 800 !important;
}

.rootPreview {
  background: #000000;
  padding: 50px 0px;
}

.previewTitleRoot {
  padding: 10px 0px;
}

.previewTitle {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.previewCardRoot {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.previewCard {
  height: 250px;
  background: #02d7f2 !important;
  border-radius: 0px;
  text-decoration: none;
  position: relative;
}

.previewCard::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  background: url("/assets/razor-bottom-blue-d44fb6b7.svg") repeat-x bottom;
  height: 23px;
}

.previewCard:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.previewCard::before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.2);
}
.previewCardLogoDiv {
  margin-top: 50px;
  text-align: center;
}
.previewCardLogo {
  width: 20rem;
}
.previewCardTitle {
  font-family: "Nunito", sans-serif;
  bottom: 0px;
  left: 20px;
  position: absolute;
  color: #000;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .menuDesktop {
    display: none !important;
  }
  .previewCardRoot {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .previewCard {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .menuButton {
    display: none !important;
  }
}
