.rootHeaderGrid {
  height: 70vh;
  background: #292929;
}

.headerGrid {
  text-align: justify;
  color: #fff;
}

.headerTitleDiv {
}

.headerTitle {
  width: 50vh;
  margin-bottom: 5px;
}

.headerDescription {
}

@media only screen and (max-width: 600px) {
  .headerTitleDiv {
    text-align: -webkit-center;
  }
  .headerTitle {
    width: 40vh;
  }
}
