.GLSfeatureDiv {
  margin-top: 20px;
  width: 100%;
  text-align: -webkit-center;
}
.GLSVideoDiv {
  height: 530px;
  margin: 1em 4em;
  background: #000;
}
.GLSVideo {
  margin: auto;
}
.rootGLSCardGrid {
  margin: 30px 0px !important;
}

@media only screen and (max-width: 960px) {
  .GLSVideoDiv {
    height: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .GLSVideoDiv {
    height: 350px;
  }
  .rootGLSCardGrid {
    text-align: -webkit-center;
  }
  .GLSfeature {
    width: 90%;
  }
}
