.menuButtonIcon {
  width: 15px;
  color: #fff !important;
}

.menuOpen {
  color: #000;
}

.sideMenuProfileRoot {
  font-family: "Nunito", sans-serif !important;
  margin-top: 10px;
  text-align: center !important;
}

.sideMenuListItem {
  text-align: center !important;
}

.menuItemDiv {
  text-align: center;
}

.menuItemDivUID {
  text-align: center;
}

.profilePhotoMenu {
  height: 80px !important;
  width: 80px !important;
  margin: 10px auto 0px auto;
}

.menuUIDTitle {
  font-weight: 800;
}

.menuLogout {
  text-align: center;
  margin-top: 35px;
}

.cardButtonsLogout {
  font-family: "Nunito", sans-serif !important;
  border-color: #3384e0 !important;
  border-width: 2.5px !important;
  border-radius: 0px !important;
  color: #000 !important;
  background: #3384e0 !important;
  font-weight: 800 !important;
  width: 200px;
  margin-left: 10px !important;
}

.cardButtonsLogout:hover {
  background: #3384e0 !important;
  box-shadow: 0 0 3px #3384e0;
}

.cardButtonsLogout::before {
  top: -3px;
  left: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #fcee0a transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  position: absolute;
}
.cardButtonsLogout::after {
  bottom: -3px;
  right: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #fcee0a transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  transform: rotate(180deg);
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .cardButtonsLogout {
    width: 150px !important;
  }
}
