.root {
  flex-grow: 1;
}

/*Header*/
.headerRoot {
}
.headerDiv {
  background: #040114;
  height: 100vh;
}

/*Slider*/
.sliderRoot {
}

.sliderDiv {
  height: 250px;
  background: #02d9f4;
  width: 100%;
  position: relative;
}

.sliderDiv::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -24px;
  background: url("/assets/top.svg ") repeat-x top;
  height: 25px;
}

.sliderCont {
  padding: 1rem 0;
}
