.GLSGrid {
  border: 1px solid;
  border-width: 3px;
  padding: 10px;
  border-color: #3384e0;
  transition: 0.5s;
  color: #000;
  font-family: Anton;
  margin: 10px 20px !important;
  background: #3384e0;
  position: relative;
}
.GLSGrid::before {
  top: -3px;
  left: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #000 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  position: absolute;
}
.GLSGrid::after {
  bottom: -4px;
  right: -4px;
  content: "";
  height: 0;
  width: 0;
  border-color: #000 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  transform: rotate(180deg);
  position: absolute;
}

.gslEvent {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
}
.dateBox {
  display: flex;
  height: 100%;
  align-items: center;
  width: 118px;
}
.date {
  font-size: 40px;
  margin-right: 10px;
}

.day {
  opacity: 0.5;
}
.glsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.glsSpeakerName {
  font-size: 30px;
  font-family: Anton;
  text-transform: uppercase;
}

.registerButton {
  font-family: "Nunito", sans-serif;
  border-color: #fcee0a !important;
  border-width: 2.5px !important;
  border-radius: 0px !important;
  color: #000 !important;
  background: #fcee0a !important;
  font-weight: 600 !important;
  width: 200px;
}

.registerButton:hover {
  background: #fcee0a !important;
}

.registerButton::before {
  top: -3px;
  left: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #3384e0 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  position: absolute;
}
.registerButton::after {
  bottom: -3px;
  right: -3px;
  content: "";
  height: 0;
  width: 0;
  border-color: #3384e0 transparent transparent;
  border-style: solid;
  border-width: 17px 17px 0 0;
  transform: rotate(180deg);
  position: absolute;
}

.glsInfo {
  font-family: "Nunito", sans-serif;
  margin-top: 10px;
  text-align: justify;
}

.speakerIMGGrid {
  text-align: -webkit-right;
}
.speakerIMG {
  width: 70%;
  border: 3px solid #3384e0;
}
.glsStatus {
  opacity: 0.5;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .glsInfoGrid {
    flex-direction: column-reverse;
  }
  .glsSpeakerName {
    font-size: 18.5px;
  }
  .speakerIMGGrid {
    text-align: -webkit-center;
  }
  .registerButton {
    width: 90px;
  }
  .dayMonthBox {
    font-size: 14px;
  }
  .date {
    font-size: 30px;
  }
  .GLSGrid {
    margin: 10px 0px !important;
    padding: 10px;
  }
}
